{% extends 'base.html.twig' %}
{% block intro %}
    <div class="fh5co-center-position">
        <h2 class="animate-box">Who We Are</h2>
        <h3 class="animate-box">Passionate Developper, passionate by plant.</h3>

    </div>
{% endblock %}

{% block body %}
    <div id="fh5co-about">
        <div class="container">
            <div class="row row-bottom-padded-lg">
                <div class="col-md-6">
                    <figure class="animate-box">
                        <img src="" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="img-responsive">
                    </figure>
                </div>
                <div class="col-md-6">
                    <div class="fh5co-label animate-box">Who We Are</div>
                    <h2 class="fh5co-lead animate-box">We Are Developer, and that's all</h2>
                    <p class="fh5co-sub-lead animate-box">Our team is passionate about plant, we search to create the ULTIMATE FLOWER POT. It takes a lot of time, but with your help and our community's help, we can succeed!</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="fh5co-person">
                        <figure class="animate-box">
                            <img src="{{ asset('images/profile.png') }}" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="img-responsive">
                        </figure>
                        <h3 class="fh5co-name animate-box">Demeilliez Cédric</h3>
                        <h4 class="fh5co-designation animate-box">Founder, Web Developer</h4>
                        <p class="fh5co-bio animate-box">Passionate about web, he search to create a big company and sell flower pot everywhere !</p>
                        <ul class="fh5co-social">
                            <li class="animate-box"><a href="#"><i class="icon-twitter"></i></a></li>
                            <li class="animate-box"><a href="#"><i class="icon-dribbble"></i></a></li>
                            <li class="animate-box"><a href="#"><i class="icon-globe"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="fh5co-person">
                        <figure class="animate-box">
                            <img src="{{ asset('images/13935079_1093800927333797_4345876172627564886_n.jpg') }}" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="img-responsive">
                        </figure>
                        <h3 class="fh5co-name animate-box">Thomas Boursin</h3>
                        <h4 class="fh5co-designation animate-box">Founder, Creative Director and Marketing Director</h4>
                        <p class="fh5co-bio animate-box">He like plant, really! Passionate about plant since childhood, he want to promote plant everywhere, like country which plant are not legal.</p>
                        <ul class="fh5co-social">
                            <li class="animate-box"><a href="#"><i class="icon-twitter"></i></a></li>
                            <li class="animate-box"><a href="#"><i class="icon-github"></i></a></li>
                            <li class="animate-box"><a href="#"><i class="icon-globe"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="fh5co-person">
                        <figure class="animate-box">
                            <img src="{{ asset('images/12670058_1666988803589939_5231045391537174184_n.jpg') }}" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="img-responsive">
                        </figure>
                        <h3 class="fh5co-name animate-box">Laura Balk</h3>
                        <h4 class="fh5co-designation animate-box">UI Designer &amp; Animator, Developer and Community Manager</h4>
                        <p class="fh5co-bio animate-box">She search to promote our plant in the world and help a lot of people with it!</p>
                        <ul class="fh5co-social">
                            <li class="animate-box"><a href="#"><i class="icon-twitter"></i></a></li>
                            <li class="animate-box"><a href="#"><i class="icon-dribbble"></i></a></li>
                            <li class="animate-box"><a href="#"><i class="icon-globe"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}