{% extends 'base.html.twig' %}
{% block intro %}
    <div class="fh5co-left-position">
        <h2 class="animate-box">Big system low price !</h2>
        <p class="animate-box"><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-outline ">About the product</a></p>
    </div>
{% endblock %}
{% block body %}
    <section id="fh5co-pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 animate-box">
                    <div class="price-box">
                        <h2 class="pricing-plan">Starter</h2>
                        <div class="price"><sup class="currency">€</sup>3<small>/month</small></div>
                        <p>Basic customer support for small business</p>
                        <hr>
                        <ul class="pricing-info">
                            <li>1 pot</li>
                            <li>Notification</li>
                            <li>Access on our website</li>
                        </ul>
                        <a href="#" class="btn btn-default btn-sm">Get started</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 animate-box">
                    <div class="price-box">
                        <h2 class="pricing-plan">Regular</h2>
                        <div class="price"><sup class="currency">€</sup>8<small>/mo</small></div>
                        <p>Basic customer support for small business</p>
                        <hr>
                        <ul class="pricing-info">
                            <li>3 pots</li>
                            <li>Notification</li>
                            <li>Access on our website</li>
                        </ul>
                        <a href="#" class="btn btn-default btn-sm">Get started</a>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6 animate-box">
                    <div class="price-box popular">
                        <div class="popular-text">Best value</div>
                        <h2 class="pricing-plan">Plus</h2>
                        <div class="price"><sup class="currency">€</sup>25<small>/mo</small></div>
                        <p>Basic customer support for small business</p>
                        <hr>
                        <ul class="pricing-info">
                            <li>10 pots</li>
                            <li>Notification</li>
                            <li>Access on our website</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-sm">Get started</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 animate-box">
                    <div class="price-box">
                        <h2 class="pricing-plan">Enterprise</h2>
                        <div class="price"><sup class="currency">€</sup>100<small>/mo</small></div>
                        <p>Basic customer support for small business</p>
                        <hr>
                        <ul class="pricing-info">
                            <li>Unlimited pots</li>
                            <li>Notification</li>
                            <li>Access on our website</li>
                        </ul>
                        <a href="#" class="btn btn-default btn-sm">Get started</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}