{% extends 'base.html.twig' %}
{% block body %}
        <section id="fh5co-projects">
            <div class="container">
                <div class="row row-bottom-padded-md">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="fh5co-lead animate-box">Your pots</h2>
                        <p class="fh5co-sub-lead animate-box">You can connected your new pot on your website to visualize your statistic</p>
                    </div>
                </div>
                <div class="row">
                    {% for pot in user.pots %}
                        <div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
                            <div class="fh5co-project-item">
                                <img src="images/img_1.jpg" alt="Image" class="img-responsive">
                                <div class="fh5co-text">
                                    <h2>{{ pot.name }}</h2>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
                                    <a href="{{ path('app_account_editpot', {id: pot.id })}}" class="btn btn-primary">Edit pot</a>
                                    <a href="{{ path('app_account_statpot', {id: pot.id })}}" class="btn btn-primary">View stat pot</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}          
                </div>
                <div class="text-center">
                    <a href="{{ path('app_account_newpot') }}" class="btn btn-primary">Add new pot</a> 
                </div> 
            </div>
        </section>
        <!-- END #fh5co-projects -->
{% endblock %}
