{% extends 'base.html.twig' %}
{% block body %}
	<section id="fh5co-projects">
            <div class="container">
                <div class="row row-bottom-padded-md">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="fh5co-lead animate-box">Statistic for your pot</h2>
                    </div>
                </div>
                <div class="row">
                    <!--<form action="#" method="get" class="animate-box">
                            <input type="email" class="form-control" placeholder="Enter your email" id="email" name="email">
                            <input type="submit" value="Send" class="btn btn-primary">
                        </form>-->
                    <div class="col-md-12 col-sm-12 col-xxs-12 animate-box">
                        
						<div id="moistureChart"></div>
                        <div id="temperatureChart"></div>
					</div>
                </div>
            </div>
        </section>
        <!-- END #fh5co-projects -->
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        {{ gc_draw([moistureChart, temperatureChart], ['moistureChart', 'temperatureChart']) }}
    </script>

{% endblock %}
